.container {
  margin: 0 auto;
  color: #02295a;
  border-radius: 1.5rem;
  background-color: #ffff;
  overflow: hidden;
  max-width: 1190px;

  .step-info {
    display: flex;
    .aside {
      padding: 3.15rem 2.5rem;
      color: white;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 1rem;
    }
  }
}

.step-label {
  margin-bottom: 2.5rem;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  gap: 1.3rem;
  border-radius: 20px;
  // padding-bottom: 0.2rem;
  > span {
    font-size: 18px;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  p {
    font-size: 21px !important;
    font-weight: bold;
    margin: 5px 0 0;
    display: flex;
    flex-direction: column;
    span {
      color: #9699ab;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.step-label.active {
  opacity: 1;
  > span {
    color: #02295a;
    background-color: #bfe2fd;
  }
}

// /* Hide default step labels */
::ng-deep .mat-step-header {
  display: none !important;
}

/* Adjust step content padding */
::ng-deep .mat-vertical-content-container {
  margin-left: 0 !important;
  .mat-vertical-content {
    padding: 0 !important;
  }
}

/* hide the vertical line */

::ng-deep .mat-stepper-vertical-line::before {
  border-left-width: 0px !important;
  border-left-style: none !important;
}
.buttons-box {
  padding-left: 131px;
}

.buttons-box {
  position: relative;
  z-index: 30;
  .submit-btn {
    background-color: #473dff;
    align-self: bottom;
  }
}

.mat-button-wrapper {
  font-size: 22px !important;
}

::ng-deep .mat-horizontal-stepper-content {
  visibility: visible !important;
  position: relative;
  z-index: 30 !important;
}

@media (min-width: 1200px) {
  .container {
    align-items: center;
    padding: 1.4rem;
    box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, 0.2);

    .aside {
      width: 365px;
      min-width: 365px;
      min-height: 700px;
      background-image: url("/assets/images/bg-sidebar-desktop.svg");
    }
  }

  .buttons-box {
    padding: 0 131px;
    z-index: 17;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 0;
  }
}

@media (max-width: 1199px) {
  .step-info {
    flex-direction: column;
    min-width: 100%;
    position: relative;
    z-index: 30;
    overflow: visible;
    .aside {
      display: flex;
      justify-content: center;
      gap: 20px;
      background-image: url("/assets/images/bg-sidebar-mobile.svg");
      align-items: flex-start;
      height: 10.8rem;
      min-width: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;

      .step-label > p {
        display: none;
      }
    }
  }
  .container {
    min-width: 100%;
    position: absolute;
    z-index: 5;
    border-radius: 0;
    background-color: #f0f6ff;
  }

  .buttons-box {
    padding: 0 15rem;
    z-index: 17;
    position: relative;
    right: 0;
    bottom: 20rem;
    .goBack {
      font-size: 22px;
    }
  }
}

@media (max-width: 930px) {
  .buttons-box {
    padding: 0px 12rem;
  }
}
