<!-- @switch (stepperOrientation | async) { @case ('vertical') {
<div>Make your screen smaller to see a vertical stepper</div>
} @case ('horizontal') {
<div>Make your screen larger to see a horizontal stepper</div>
} } -->

<div class="container">
  <form [formGroup]="Empregister">
    <div
      class="step-info"
      orientation="horizontal
    "
    >
      <div class="aside">
        <div
          class="step-label"
          [ngClass]="{ active: stepper.selectedIndex === 0 }"
        >
          <!-- Step 1: Personal Info -->
          <span>1</span>
          <p><span>STEP 1</span> YOUR INFO</p>
        </div>
        <div
          class="step-label"
          [ngClass]="{ active: stepper.selectedIndex === 1 }"
        >
          <span>2</span>
          <p>
            <!-- Step 2: Plan Info -->
            <span>STEP 2</span>
            SELECT PLAN
          </p>
        </div>
        <div
          class="step-label"
          [ngClass]="{ active: stepper.selectedIndex === 2 }"
        >
          <span>3</span>
          <!-- Step 3: Add-Ons -->
          <p><span>STEP 3</span> ADD-ONS</p>
        </div>
        <div
          class="step-label"
          [ngClass]="{ active: stepper.selectedIndex === 3 }"
        >
          <!-- Step 4: Summary -->
          <span>4</span>
          <p><span>STEP 4</span> SUMMARY</p>
        </div>
      </div>
      <mat-stepper
        class="custom-stepper"
        [linear]="isLinear"
        #stepper
        [orientation]="(stepperOrientation | async)!"
      >
        > >
        <mat-step [stepControl]="personalForm">
          <app-personal-info [personalForm]="personalForm"></app-personal-info>
        </mat-step>
        <mat-step [stepControl]="planForm">
          <app-plan [planForm]="planForm"></app-plan>
        </mat-step>
        <mat-step [stepControl]="addOn">
          <app-add-on [addOn]="addOn" [isYearly]="isYearly"></app-add-on>
        </mat-step>
        <mat-step>
          <app-summary
            [personalInfoForm]="personalForm"
            [planForm]="planForm"
            [addOnForm]="addOn"
            [isYearly]="isYearly"
            *ngIf="!done"
            class="app-summary"
          ></app-summary>
          <app-done-message *ngIf="done"></app-done-message>
          <div class="buttons-box" *ngIf="!done">
            <button mat-button matStepperPrevious class="goBack">
              Go Back
            </button>
            <button
              mat-raised-button
              class="submit-btn"
              (click)="handleSubmit()"
            >
              Submit
            </button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </form>
</div>
