<div class="step-container">
  <div class="step-content" [formGroup]="addOn">
    <h1 class="header">Pick add-ons</h1>
    <legend>Add-ons help enhance your gaming experience.</legend>
    <div
      class="check-box"
      [ngClass]="{ selected: addOn.get('onlineService')?.value }"
    >
      <mat-checkbox formControlName="onlineService">
        <div>
          <h2>Online Service</h2>
          <p>Access to multiplayes games</p>
        </div>
      </mat-checkbox>
      <span>{{ getAddonPrice("onlineService") }}</span>
    </div>
    <div
      class="check-box"
      [ngClass]="{ selected: addOn.get('largerStorage')?.value }"
    >
      <mat-checkbox formControlName="largerStorage">
        <div>
          <h2>Larger storage</h2>
          <p>Extra 1TB of cloud save</p>
        </div>
      </mat-checkbox>
      <span>{{ getAddonPrice("largerStorage") }}</span>
    </div>
    <div
      class="check-box"
      [ngClass]="{ selected: addOn.get('customizableProfile')?.value }"
    >
      <mat-checkbox formControlName="customizableProfile">
        <div>
          <h2>Customizable profile</h2>
          <p>Custom theme on your profile</p>
        </div>
      </mat-checkbox>
      <span>{{ getAddonPrice("customizableProfile") }}</span>
    </div>
    <div class="buttons-box">
      <button mat-button matStepperPrevious class="goBack">Go Back</button>
      <button
        mat-button
        matStepperNext
        class="submit-btn"
        (click)="getThePrice()"
      >
        Next Step
      </button>
    </div>
  </div>
</div>
