<div [formGroup]="personalForm" class="step-container">
  <div class="step-content">
    <h1>Personal Info</h1>
    <p>Please provie your name, email address and phone number.</p>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="e.g.Stephen King"
        formControlName="fullname"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email Address</mat-label>
      <input
        matInput
        placeholder="e.g. stephenKing@lorem.com"
        formControlName="email"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input
        matInput
        placeholder="e.g. +1 234 567 890"
        formControlName="phone"
        required
      />
    </mat-form-field>
    <div>
      <button mat-raised-button matStepperNext color="primary">Next</button>
    </div>
  </div>
</div>
