.step-container {
  display: flex;
  align-items: flex-start;
}

.step-label {
  flex: 1;
  min-width: 200px; /* Adjust as needed */
}

.step-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 20px;
  }
  > p {
    color: rgba(0, 0, 0, 0.593);
  }
}

// .mat-form-field input {
//   height: 60px !important;
//   outline: none !important;
//   border: none !important;
//   padding: 0 15px !important;
//   font-size: 16px;
//   font-weight: 400;
//   color: #333;
//   border-radius: 8px;
//   background: #fff;
// }

// .mat-form-field-flex {
//   height: 60px !important;
//   outline: none !important;
//   border: none !important;
//   padding: 0 15px !important;
//   font-size: 16px;
//   font-weight: 400;
//   color: #333;
//   border-radius: 8px;
//   background: #fff;
// }
