.step-container {
  display: flex;
  align-items: flex-start;
}

.step-label {
  flex: 1;
  min-width: 200px; /* Adjust as needed */
}

.step-content {
  flex: 2;
  display: flex;
  flex-direction: column;
}
