@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

// html,
// body {
//   height: 100%;
// }
body {
  font-family: "Ubuntu", sans-serif;
  color: #02295a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-h1,
.mat-headline,
.mat-typography h1,
.mat-stepper,
.mat-body p,
.mat-body-1 p,
.mat-typography p,
.mat-body.mat-h2,
.mat-title,
.mat-typography h2,
.mat-h3,
.mat-subheading-2,
.mat-typography h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.buttons-box {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  .submit-btn {
    background-color: #02295a;
    color: #f0f6ff;
    align-self: right bottom;
    height: 4rem;
    width: 10.4rem;
    font-size: 21px;
  }
  .goBack {
    font-size: 22px;
  }
}

.step-content legend {
  color: #9699ab;
}
@media (min-width: 1200px) {
  .step-content {
    padding: 3.1rem 113px 3.1rem 135px;
    h1 {
      font-size: 43px;
      font-weight: 600;
      margin-bottom: 0.7rem;
    }
    legend {
      font-size: 21px;
      margin-bottom: 2.1rem;
    }
  }
}

@media (max-width: 1199px) {
  .mat-horizontal-content-container {
    background-color: #f0f6ff;
  }
  .step-container {
    top: 7.5rem;
    min-height: 900px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top: 7.5rem;
    position: relative;
    z-index: 5;
    .step-content {
      background: #fff;
      padding: 2rem 1.5rem;
      width: 60%;
      min-width: 345px;
      min-height: 550px;
      border-radius: 0.8rem;
      box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, 0.2);
      h1 {
        font-size: 30px;
        margin-bottom: 0.5rem;
        font-weight: 600;
      }
      legend {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5rem;
      }
    }
  }
}
