<div [formGroup]="planForm" class="step-container">
  <div class="step-content">
    <h1>Select your plan</h1>
    <legend>You have the option of monthly or yearly billing</legend>
    <div class="plans">
      <div
        *ngFor="let plan of plans; trackBy: trackByFn"
        class="plan"
        [class.selected]="isPlanSelected(plan)"
        [class.error]="planError"
        (click)="selectPlan(plan)"
        (keydown.enter)="selectPlan(plan)"
        role="button"
        [attr.aria-pressed]="
          planForm.get('chosenPlan')?.value?.name === plan.name
        "
        tabindex="0"
      >
        <div class="icon-container">
          <img [src]="plan.icon" alt="{{ plan.name }} icon" />
        </div>
        <div>
          <h2>{{ plan.name }}</h2>
          <span>{{ getPrice(plan) }}</span>
          <p *ngIf="planForm.get('isYearly')?.value">2 months free</p>
        </div>
      </div>
    </div>
    <div class="selectPlan">
      <p [ngClass]="{ active: !planForm.get('isYearly')?.value }">Monthly</p>
      <mat-slide-toggle
        [checked]="planForm.get('isYearly')?.value"
        (change)="toggleYearly()"
      ></mat-slide-toggle>
      <p [ngClass]="{ active: planForm.get('isYearly')?.value }">Yearly</p>
    </div>
    <div class="button-container">
      <button mat-button matStepperPrevious class="goBack">Go Back</button>
      <button
        class="next-button"
        mat-raised-button
        matStepperNext
        (click)="validateForm()"
      >
        Next Step
      </button>
    </div>
  </div>
</div>
